.case-intro
    color: var(--text-color);
    position relative
    z-index: 1

    &::before
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 370px;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        opacity: 0.2;

    .fullsize-link
        display: block

    .btn
        z-index: 10
        position absolute
        left: 2rem
        bottom: 2rem

        @media $mobile
            left: 1.5rem

.case-intro__text
    padding: 2rem 2rem 7rem 2rem
    position absolute
    bottom: 0

    @media $mobile
        padding: 1.5rem 1rem 6rem 1.5rem

        .btn
            display: none

.case-intro__pic
    display: block
    object-fit: cover
    height: 100vh;
    width: 100%;
    object-position: 50% 40%;

.case-intro__text__inner
    color: var(--case-color);

    .btn--outline
        display: inline-block;

    h2
        width: 62%
        margin: 0

        @media $mobile
            flex-direction: column
            margin-bottom: 0
            width: 100%

    p
        width: 50%
        margin-top: .75rem

        @media $mobile
            margin-bottom: .5rem