.case-intro
    color: var(--text-color);
    min-height: 100vh
    display: flex
    flex-direction: column

.case-intro__text
    padding: 2rem
    background-color: var(--background-color)
    flex-grow: 1

.case-intro__pic
    display: block
    object-fit: cover
    max-height: 80vh

.case-intro__text__inner
    display: flex
    flex-direction: row
    justify-content: space-around

    p
        margin-top: 1rem

    > *
        width: 50%