.case-intro
    color: var(--text-color);

.case-intro__text
    padding: 2rem
    background-color: var(--background-color)

    @media $mobile
        padding: 1.5rem 1rem

.case-intro__pic
    display: block
    object-fit: cover
    height: 50vw;
    width: 100%;
    object-position: 50% 40%;

    @media $mobile
        height: 100vw


.case-intro__text__inner
    display: flex
    flex-direction: row
    justify-content: space-around

    @media $mobile
        flex-direction: column

    h2
        
        @media $mobile
            flex-direction: column
            margin-bottom: 0

    p
        margin-top: .75rem

    > *
        width: 50%

        @media $mobile
            width: 100%