.loader
    height: 6px;
    background-color: blue;
    animation: glow linear 4s infinite;

@keyframes glow 
    0% { background-color: #FBF778; }
    20% { background-color: #171259; }
    40% { background-color: #FF6237; }
    60% { background-color: #E43E2C; }
    80% { background-color: #CDD7CF; }
    100% { background-color: #FF6237; } 