.wrapper-error
    margin-bottom: 10rem
    margin-top: 5rem
    padding: 0 2.5rem

    @media $mobile
        margin-bottom: 5rem
        padding: 0 1rem

    img
        margin-bottom: 2rem

        @media $mobile
            max-width: 320px