body.about 
    color: var(--main-about-primary)
    background: var(--main-bg-about)

body.about .logo path 
    fill: var(--main-about-primary)

.about .header nav a
    color: var(--main-about-primary)
