body.nori 
    background-color: #F3F5F6
    transition: 0s;

body.nori .logo path 
    fill: #4050F7

.nori .text-link
    color: #4050F7

.nori .header nav a::before 
    background: #4050F7   


body.hom 
    background-color: #EBEAE7
    transition: 0s;

body.hom .logo path 
    fill: #DC5842

.hom .text-link
    color: #DC5842

.hom .header nav a::before 
    background: #DC5842   


body.ls 
    background-color: #000000
    transition: 0s;

body.ls .logo path 
    fill: #DFE1EB

.ls .text-link
    color: #DFE1EB

.ls .header nav a::before 
    background: #DFE1EB 

body.mtn 
    background-color: #CECFD0
    transition: 0s;

body.mtn .logo path 
    fill: #161616

.mtn .text-link
    color: #161616

.mtn .header nav a::before 
    background: #161616   


body.glasin 
    background-color: #EDF0F3
    transition: 0s;

body.glasin .logo path 
    fill: #1D1E1B

.glasin .text-link
    color: #1D1E1B

.glasin .header nav a::before 
    background: #1D1E1B   

body.glyfit 
    background-color: #EFEEE8
    transition: 0s;

body.glyfit .logo path 
    fill: #1E1E1E

.glyfit .text-link
    color: #1E1E1E

.glyfit .header nav a::before 
    background: #1E1E1E   

body.friend-420 
    background-color: #E6DFC8
    transition: 0s;

body.friend-420 .logo path 
    fill: #405C41

.friend-420 .text-link
    color: #405C41

.friend-420 .header nav a::before 
    background: #405C41

body.friend-jen 
    background-color: #FFF7F0
    transition: 0s;

body.friend-jen .logo path 
    fill: #1D7260

.friend-jen .text-link
    color: #1D7260

.friend-jen .header nav a::before 
    background: #1D7260

body.thredx 
    background-color: #E8E8DF
    transition: 0s;

body.thredx .header
    mix-blend-mode: difference

body.thredx .logo path 
    fill: #fff

.thredx .text-link
    color: #fff

.thredx .text-link a
    color: #fff

.thredx .header nav a::before 
    background: #fff   


.case .wrapper-inner
    padding: 0 2.5rem;
    display: grid;
    // grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2.5rem;
    color: var(--text)

    @media $mobile
        padding: 1rem
        grid-gap: 1rem;
        overflow: hidden

    &--dark
        background: #161616
        margin-top: 5.556vw;
        color: #E2E2E2
        padding-top: 11.112vw;
        padding-bottom: 11.112vw

        @media $mobile
            padding-bottom: 10rem

    &--white
        background: #fff
        padding-bottom: 11.112vw

    &--margin-bottom
        margin-bottom: 5.556vw

    &--no-margin-top
        margin-top: 0

    &--no-margin-bottom
        margin-bottom: 0
        padding-bottom: 0

    &--margin
        padding-top: 5.556vw;

    &--footer-margin
        margin-bottom: 5rem

    &--no-header
        margin-top: 8rem;


.case-pic-big
    height: 70vh;
    min-height: 25rem
    max-height: 40rem
    width: 100%;
    object-fit: cover;
    object-position: bottom;

    @media $mobile
        height: 50vh

.case-header
    margin: 0 0 5vw

    @media $mobile
        margin-bottom: 1rem

.case-pic
    margin: 0
    border-radius: 6px
    overflow: hidden

    img
        display: block

// Grid settings
.col
    margin-bottom: 5.556vw

    @media $mobile
        margin-bottom: 0

    &--small-margin
        margin-bottom: 2.778vw

    &--no-margin
        margin-bottom: 0

    &--stick-margin
        margin-bottom: -2.5rem

        @media $mobile
            margin-bottom: -1.5rem

    img
        object-fit: cover
        object-position: center

.col *:last-child
    margin-bottom: 0

.col-3
    grid-column: span 3;

    @media $mobile
        grid-column: span 12;


.col-5
    grid-column: span 5;

    @media $mobile
        grid-column: span 12;

.col-6
    grid-column: span 6;

    @media $mobile
        grid-column: span 12;

    &--center
        grid-column-start: 4;
        grid-column-end: 10;
        text-align: center

.col-7
    grid-column: span 7;

    @media $mobile
        grid-column: span 12;

.col-4
    grid-column: span 4;

    @media $mobile
        grid-column: span 12;

.col-8
    grid-column: span 8;
    
    @media $mobile
        grid-column: span 12;

.col-12
    grid-column: span 12;

    @media $mobile
        margin-bottom: 2rem


.col figure,
.col img
    height: 100%

.push-3-11
    grid-column-start: 3;
    grid-column-end: 11;

    @media $mobile
        grid-column-start: none;
        grid-column-end: none;
        grid-column: span 12


.push-4-11
    grid-column-start: 5;
    grid-column-end: 12;

    @media $mobile
        grid-column-start: none;
        grid-column-end: none;
        grid-column: span 12

.push-4-8
    grid-column-start: 5;
    grid-column-end: 9;

    @media $mobile
        grid-column-start: none;
        grid-column-end: none;
        grid-column: span 12

.push-5-9
    grid-column-start: 5;
    grid-column-end: 9;

    @media $mobile
        grid-column-start: none;
        grid-column-end: none;
        grid-column: span 12
    
.full-width-pic
    margin-left: -2.5rem
    margin-right: -2.5rem

    @media $mobile
        margin-left: -1.5rem
        margin-right: -1.5rem
    
    .case-pic
        border-radius: 0

.col-12 video
    width: 100%
    object-fit: cover
    height: 100vh
    display: block