body.nori 
    background-color: #F3F5F6
    transition: 0s;

body.nori .logo path 
    fill: #4050F7

.nori .text-link
    color: #4050F7

.nori .header nav a::before 
    background: #4050F7   

.case .wrapper-inner
    padding: 0 2.5rem;
    display: grid;
    // grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2.5rem;
    color: var(--text)

    &--dark
        background: #1e1e1e
        margin-top: 11.112vw;
        color: #E2E2E2
        padding-top: 11.112vw;
        padding-bottom: 10rem

.case-pic-big
    height: 70vh;
    min-height: 25rem
    width: 100%;
    object-fit: cover;

.case-header
    margin: 0 0 5vw

.case-pic
    margin: 0
    border-radius: 6px
    overflow: hidden

    img
        display: block

// Grid settings
.col
    margin-bottom: 5.556vw

    &--no-margin
        margin-bottom: 0

    img
        object-fit: cover

.col *:last-child
    margin-bottom: 0

.col-3
    grid-column: span 3;

.col-5
    grid-column: span 5;

.col-6
    grid-column: span 6;

    &--center
        grid-column-start: 4;
        grid-column-end: 10;
        text-align: center

.col-7
    grid-column: span 7;

.col-4
    grid-column: span 4;

.col-8
    grid-column: span 8;

.col-12
    grid-column: span 12;

.col figure,
.col img
    height: 100%

.push-4-11
    grid-column-start: 5;
    grid-column-end: 12;

.push-4-8
    grid-column-start: 5;
    grid-column-end: 9;
    
