.front .wrapper-inner
    padding: 11.112vw

    @media $mobile
        padding: 5rem 1.5rem

.front .wrapper
    position relative

.img-text
    position relative
    position: relative;
    height: 3rem;
    overflow: visible;
    padding: 0 0.5rem

    @media $mobile
        display: none

    img
        height: 4rem;
        margin-top: -.7rem;
        border-radius: 4rem;
        display: block

#stars path,
#stars-2 path
    fill: var(--main-yellow);

#stars
    position: absolute;
    left: 10%;
    width: 300px;
    top: 15%;
    
    @media $mobile
        left: -15%
        top: -7%;

#stars-2
    position: absolute;
    right: 10%;
    width: 300px;
    top: 15%;
    transform: rotate(180deg);

    @media $mobile
        right: -15%
        top: -7%;

#front-hand

    @media $mobile
        margin: -2.5rem 0 2.5rem 0