.front .wrapper-inner
    padding: 11.112vw

    @media $mobile
        padding: 4rem 1rem

.front .wrapper
    position relative

.img-text
    position relative
    position: relative;
    height: 3rem;
    overflow: visible;
    padding: 0 0.5rem

    @media $mobile
        display: none

    img
        height: 4rem;
        margin-top: -.7rem;
        border-radius: 4rem;
        display: block

#stars path,
#stars-2 path
    fill: var(--main-yellow);

#stars
    position: absolute;
    left: 10%;
    width: 300px;
    top: 15%;
    
    @media $mobile
        display: none

#stars-2
    position: absolute;
    right: 10%;
    width: 300px;
    top: 15%;
    transform: rotate(180deg);

    @media $mobile
        display: none

#front-hand

    @media $mobile
        display: none;

#swoosh 
    position: absolute
    left: -20px
    right: 0
    margin: 0 auto
    max-width: 70rem
    margin-top: 1.5rem

    @media $mobile
        left: -100px
        width: 50rem
        margin-top: 1.5rem

    rect
        fill: var(--main-yellow);

.swoosh-title
    display: none

    > span
        margin-right: 1.25rem;

        @media $mobile
            margin-right: 0

    &--active
        display: flex
        
        @media $mobile
            flex-direction: column

.swoosh-title--active span:first-child span
    animation-delay: .1s !important

.swoosh-title--active span:nth-child(2) span
    animation-delay: .4s !important

.swoosh-title--active.title-1 span:first-child span
    animation-delay: 1.2s !important

.swoosh-title--active.title-1 span:nth-child(2) span
    animation-delay: 1.4s !important
    