body.front 
    color: var(--main-yellow)
    background-color: var(--main-bg-color)

body.front .logo path 
    fill: var(--main-yellow)

.front .header nav a
    color: var(--main-yellow)

.front .header nav a::before 
    background: var(--main-yellow)

.shadow-front 
    position absolute
    top: -6rem
    left: 0
    right: 0
    z-index: -1

.shadow-front-bottom 
    position absolute
    bottom: -6rem
    left: 0
    right: 0
    z-index: -1
    transform: rotate(180deg)

.front-info
    position: relative;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15vw 0 12vw;
    overflow: hidden

    @media $mobile
        padding: 5rem 0
        min-height: 0;

.front-info__text 
    padding: 0 2rem
    text-align: center
    max-width: 60%

    @media $mobile
        max-width: 100%
        padding: 1.5rem