body.shop 
    color: var(--main-shop-primary)
    background-color: var(--main-bg-shop)

body.shop .logo path
    fill: var(--main-shop-primary)

.shop .header nav a
    color: var(--main-shop-primary)

.shop .header nav a::before 
    background: var(--main-shop-primary)

.shop .menu-icon span {
    background-color: var(--main-shop-primary)
}

.small-header
    width: 52.6388888889%
    text-align: center
    margin: 0 auto 5vw

    @media $mobile
        width: 100%

.shop .wrapper
    padding: 9rem 0 0 0

    @media $desktop-xl
        padding: 12rem 0 0 0

    @media $mobile
        padding: 7rem 0 0 0

.shop .wrapper-inner
    margin-bottom: 11.112vw

    @media $mobile
        margin-bottom: 7rem

.shop-wrapper
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding: 0 2.5rem
    
    @media $mobile
        padding: 0 1rem

.shop-item 
    width: calc(50% - 1.25rem);
    margin-right: 2.5rem;
    margin-bottom: 6vw;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1)
    animation-delay: .8s;
    opacity: 0
    position relative

    @media $mobile
        width: 100%;
        margin-right: 0;
        margin-bottom: 5rem;
        margin-bottom: 3rem

    &:nth-child(2)
        animation-delay: 1s;

    &:nth-child(3)
        animation-delay: 1.2s;

    &:nth-child(2n)
        margin-right: 0

    img 
        margin-bottom: 1.5rem

        @media $mobile
            margin-bottom: 1rem

    .heading-four
        margin: 0

    .shop-item__text
        margin: 1rem 0 0 0

        @media $mobile
            margin: .5rem 0 0 0

    .shop-item__price
        opacity: .6
        margin: 0

.shop-item__details 
    display: flex;
    justify-content: space-between;
    align-items: center;