body.shop 
    color: var(--main-shop-primary)
    background-color: var(--main-bg-shop)

body.shop .logo path
    fill: var(--main-shop-primary)

.shop .header nav a
    color: var(--main-shop-primary)
