body.work 
    color: var(--main-work-primary)
    background-color: var(--main-bg-work)

body.work .logo path
    fill: var(--main-work-primary)

.work .header nav a
    color: var(--main-work-primary)

.work .header nav a::before 
    background: var(--main-work-primary)

.work .menu-icon span {
    background-color: var(--main-work-primary)
}

.work .wrapper 
    padding: 9rem 0 0 0

    @media $desktop-xl
        padding: 12rem 0 0 0

    @media $mobile
        padding-top: 7rem

.work .wrapper-inner
    padding: 0 2.5rem

    @media $mobile
        padding: 0 1rem 1rem

.case-wrapper
    margin: 6vw 0 16vw 0
    padding: 0 2.5rem

    @media $mobile
        padding: 0 1rem
        margin-bottom: 8rem
        margin-top: 0

.case-medium
    width: 40.416666666666664%
    position relative

    @media $mobile
        width: 100%

.case-medium-large
    width: 56.94444444444444%
    position relative

    @media $mobile
        width: 100%

.case-full
    position: relative

.case-row
    display: flex
    grid-gap: 2.5rem;
    margin-bottom: 9vw

    @media $mobile
        width: 100%
        flex-direction: column
        grid-gap: 3rem
        margin-bottom: 3rem

.case-wrapper img,
.case-wrapper video
    border-radius: 6px

.case-medium__inner
    position relative

.case-medium__inner h2,
.case-medium__inner p
    margin-right: 2.5rem

.case-medium-large .case-medium__inner h2,
.case-medium-large .case-medium__inner p
    margin-right: 5rem

.case-medium img,
.case-medium video
    height: 45vh
    object-fit: cover
    width: 100%
    margin-bottom: 1.5rem

    @media $mobile
        height: 50vh

.case-medium-large img,
.case-medium-large video
    height: 65vh
    object-fit: cover
    width: 100%
    margin-bottom: 1.5rem

    @media $mobile
        height: 50vh

.case-full img,
.case-full video
    height: 70vh
    object-fit: cover
    width: 100%

    @media $mobile
        height: 50vh

.case-full
    margin-bottom: 9vw
    margin-left: -2.5rem
    margin-right: -2.5rem

    @media $mobile
        margin-left: -1rem
        margin-right: -1rem
        margin-bottom: 3rem

    img,
    video
        margin-bottom: 2.5rem
        border-radius: 0

        @media $mobile
            margin-bottom: 1.5rem

.case-full__inner__text
    width: 60%
    padding-left: 2.5rem

    @media $mobile
        width: 100%
        padding-left: 1rem

.case-medium__inner,
.case-full__inner
    
    >*:last-child
        margin-bottom: 0
