body.work 
    color: var(--main-work-primary)
    background-color: var(--main-bg-work)

.work .wrapper
    background-image: url('../assets/images/pen.svg')
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 500px;

    @media $desktop-xl
        background-size: 730px;

    @media $mobile
        background-image: none

body.work .logo path
    fill: var(--main-work-primary)

.work .header nav a
    color: var(--main-work-primary)

.work .header nav a::before 
    background: var(--main-work-primary)

.work .wrapper 
    padding: 9rem 0 0 0

    @media $desktop-xl
        padding: 12rem 0 0 0

    @media $mobile
        padding-top: 7rem

.work .wrapper-inner
    padding: 0 2rem

    @media $mobile
        padding: 0 2rem 1rem

.case-wrapper
    margin-top: 11vw

.animate__animated.case-small
    animation-duration: .6s

.case-small:last-child 
    height: 210px

    @media $mobile
        height: 160px

.case-small:last-child .case-small__inner:hover
    transform: translateY(0)

.active.case-small
    z-index: 2
    border-top: none

.active .case-small__inner
    background: var(--background)
    color: var(--text)
    border-top: none
    transform-origin: center center

.active .case-small__inner > *
    opacity: 0

.case-small__inner
    display: flex
    border-top: .5px solid var(--main-stroke-work)
    background-color: var(--main-bg-work)
    padding: 1.5rem 2rem 2rem;
    width: 100%
    transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1)
    height: 100%

    @media $mobile
        padding: 1rem 1.5rem 0 1.5rem
    
    &:hover
        position: absolute;
        transform: translateY(-2.5rem)
        background: var(--background)
        color: var(--text)

        @media $desktop-xl
            transform: translateY(-3.5rem)

        @media $mobile
            transform: translateY(-1.5rem)

        .btn-category 
            border-color: var(--text)
            color: var(--text)

.case-small
    background-color: var(--main-bg-work)
    display: flex
    margin-top: -80px
    position relative
    transition: .3s
    height: 160px;
    width: 100%
    animation-delay: .6s;

    @media $mobile
        height: 125px

    a 
        position absolute
        top: 0
        right: 0
        left: 0
        bottom: 0

    &:nth-child(2)
        animation-delay: (.6s+.2s);

    &:nth-child(3)
        animation-delay: (.6s+.4s);

    &:nth-child(4)
        animation-delay: (.6s+.6s);

    &:nth-child(5)
        animation-delay: (.6s+.8s);

    &:nth-child(6)
        animation-delay: (.6s+1s);     

    &:nth-child(7)
        animation-delay: (.6s+1.2s); 

    &:nth-child(8)
        animation-delay: (.6s+1.4s); 

    &:nth-child(9)
        animation-delay: (.6s+1.6s);   

    &:nth-child(10)
        animation-delay: (.6s+1.8s); 

    &:nth-child(11)
        animation-delay: (.6s+2s);

    h2 
        font-size: clamp(2.5rem, 4vw + 1.25rem, 5.625rem);
        line-height: 1.1
        margin-right: 1rem

.category-wrapper
    display: flex

    @media $mobile
        display: none