.header-big
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    overflow: hidden

    @media $mobile
        padding: 0 1rem

.header-big h1 
    width: 58%
    padding-top: 32px
    margin: 0 0 .3rem

    @media $mobile
        width: 100%
        padding: 0
        margin: 0 0 .25rem

.header-big h2.heading-one

    @media $mobile
        margin-bottom: 0

.header-big__bg 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1
    background: #08052d
    overflow: hidden

    video
        pointer-events: none;
        opacity: 0.1;
        width: 100%;
        height: 100%;
        object-fit: cover;

.header-big__bg iframe
    height: 110%;
    width: 110%;
    position: absolute;
    top: 0%;
    left: -5%;
    right: 0;
    bottom: 0;
    pointer-events: none;

@media screen and (max-width: 1350px)
    .header-big__bg iframe
        height: 110%;
        width: 140%;
        left: -25%

.active-reel .header-big__bg
    cursor: url('/assets/images/cursor.png'), auto;

.front iframe
    opacity: 0
    visibility: hidden
    transition: opacity .6s

.header-big h1,
.header-big h2,
.btn-wrapper .btn,
video
    transition: .6s
    opacity: 1

.active-reel
    overflow: hidden;

    @media $mobile
        overflow: visible

    .header-big h1,
    .header-big h2,
    .btn-wrapper,
    video,
    .header nav
        opacity: 0
        visibility: hidden

        @media $mobile
            opacity: 1
            visibility: visible
    
    iframe
        opacity: 1
        visibility: visible

        @media $mobile
            opacity: 0
            visibility: hidden