.header 
    position: absolute;
    left: 2rem;
    right: 2rem;
    top: 2rem;
    z-index: 10
    display: flex;
    justify-content: space-between
    align-items: center

.logo
    margin: 0

.logo path
    transition: .3s ease-in

.header nav a 
    font-size: clamp(1rem, 0.3vw + 1rem, 1.625rem);
    text-decoration: none

.header ul 
    list-style: none
    margin: 0
    padding: 0
    display: flex

.header li
    margin: 0 0 0 2rem
    padding: 0

.header li:first-child
    margin: 0