*
    box-sizing border-box

html
    font-size 62.5%

html, body
    margin 0 auto
    width 100%
    height 100%
    font-family: neue-haas-unica, sans-serif;
    font-size: 16px

:root
    --main-yellow: #FBF778
    --main-bg-color: #171259
    --main-bg-work: #CDD7CF
    --main-bg-primary: #FF6237
    --main-bg-work: #CDD7CF
    --main-stroke-work: #93A998
    --main-work-primary: #FF6237
    --main-bg-about: #E43E2C
    --main-about-primary: #FFD24B
    --main-bg-shop: #1C1C1C
    --main-shop-primary: #E2E2E2

body
    font-size 16px
    transition: background .3s ease-in
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";

// text animations
h1, h2, p, li, a
    span
        display inline-block
        overflow hidden
        vertical-align middle

        & > span
            display block
            animation slideUp 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards
            transform translate3d(0, 100%, 0)

.delay-text
    span
        display inline-block
        overflow hidden
        vertical-align middle

        & > span
            display block
            animation slideUp 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards
            transform translate3d(0, 100%, 0)
            animation-delay: .6s

@keyframes slideUp
    0%
        transform translate3d(0, 100%, 0)

    100%
        transform translate3d(0, 0, 0)

@import 'animate.css';
@import 'wrapper'
@import 'typography'
@import 'increment'
@import 'header'
@import 'header-big'
@import 'loader'
@import 'pages/**'
@import 'elements/**'
