.wrapper
    padding: 9rem 2rem 0 2rem

.front .wrapper 
    padding: 0

body
    background-image: url('../assets/images/grain.png')
    background-repeat: repeat
    background-size: 100px
    background-blend-mode: overlay;