.wrapper
    padding: 9rem 2.5rem 0 2.5rem

.front .wrapper,
.case .wrapper
    padding: 0

body
    // background-image: url('../assets/images/grain.webp')
    background-repeat: repeat
    background-size: 100px

img 
    max-width: 100%

.no-max
    max-width: none
    width: 100%